<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="/Content/superui/content/ui/global/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link href="/Content/superui/content/ui/global/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Theme style -->
    <link rel="stylesheet" href="/Content/superui/content/adminlte/dist/css/AdminLTE.css">
    <link rel="stylesheet" href="/Content/superui/content/adminlte/dist/css/skins/_all-skins.min.css">
    <link href="/Content/superui/content/min/css/supershopui.common.min.css" rel="stylesheet" />
    <link href="/Content/superui/content/plugins/bootstrap-table/bootstrap-table.css" rel="stylesheet" />
    <!--全局通用框架样式 end-->
    @RenderSection("Style", required: false)
</head>

<body>
    <section class="content-header">

        @RenderSection("headerBox", required: false)
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="col-md-12">
                <!-- BEGIN SAMPLE TABLE PORTLET-->
                <div class="box-body" style="padding-bottom:0px;">
                    @RenderSection("searchBox", required: false)
                    <div id="toolbar" class="btn-group">
                        @RenderSection("toolbarBox", required: false)
                    </div>
                    <div class="table-scrollable">
                        @RenderBody()
                    </div>
                </div>
                <!-- END SAMPLE TABLE PORTLET-->
            </div>


        </div>

    </section>
    <script src="/Content/superui/content/ui/global/jQuery/jquery.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="/Content/superui/content/ui/global/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/superui/content/min/js/supershopui.common.js"></script>
    <script src="/Content/superui/content/plugins/bootstrap-table/bootstrap-table.js"></script>
    <script src="/Content/superui/content/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/Plugins/layer/layer/layer.js"></script>
    @RenderSection("Scripts", required: true)

</body>
</html>
